; vi:syntax=ini
; See https://coverage.readthedocs.org/en/coverage-4.0.3/config.html

[run]
data_file = .coverage
source =
    json_config

; debug = config
; branch = False
; include =
;    json_config/
; omit =
;     tests/

[report]
fail_under = 80
show_missing = True
omit =
    json_config/_compat.py

; exclude_lines =
;     (?i)#\s*pragma[:\s]?\s*no\s*cover
; include_errors = False
; include =
;     json_config/
; skip_covered = False

[html]
directory = .htmlcov
title = json_config coverage report
